.notFound {
  margin-top: 200px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #a7a7a7;
  @media (max-width: 1000px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    flex: 1;
  }
  @media (max-width: 620px) {
    font-size: 18px;
    line-height: 28px;
    flex: 1;
  }
}
